.app.light {
	--bg-color: rgb(220, 220, 220);
	--inverted-bg-color: rgb(33, 33, 33);

	--primary-color: rgb(206, 0, 0);
	--secondary-color: black;

	--inverted-primary-color: rgb(220, 220, 220);
	--inverted-secondary-color: rgb(220, 220, 220);
}